<table>
  <thead>
    <th>#</th>
    <th>Valor</th>
    <th>Origem</th>
    <th>Enviado por</th>
    <th>Descrição</th>
  </thead>
  <tbody>
    <% @transactions.each do |transaction| %>
      <tr>
        <td><%= transaction.id %></td>
        <td class="<%= transaction.value >= 0 ? 'positive' : 'negative' %>"><%= number_to_currency(transaction.value, precision: 2, unit: 'U$ ', negative_format: '%u - %n') %></td>
        <td><%= transaction.source %></td>
        <td><%= User.find(transaction.sender_id).name %></td>
        <td><%= transaction.description %></td>
      </tr>
    <% end %>
    <% if @transactions.blank? %>
    <tr>
      <td colspan="5">No transactions made for this user.</td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @transactions %>
