<!DOCTYPE html>
<html>
  <head>
    <title>SkidowApi</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "layouts/messages" %>
    <% unless current_page?(root_path) || current_page?(log_in_path) || current_page?(sign_up_path) %>
      <header class="header">
        <%= render "layouts/user_nav" %>
      </header>
      <main class="content">
        <div class="container">
          <%= yield %>
        </div>
      </main>
    <% else %>
      <%= yield %>
    <% end %>
  </body>
</html>
