<!DOCTYPE html>
<html>
  <head>
    <title>SkidowApi</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "layouts/messages" %>
    <header id="header">
      <h1>Skidow API</h1>
      <%= render "layouts/user_nav" %>
    </header>
    <main id="content">
      <%= yield %>
    </main>
  </body>
</html>
